<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="text/javascript">
            var stompClient = null;
            var privateStompClient = null;
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            
            stompClient.connect({}, function(frame) {  
               console.log("Getting Data From Sever")
               stompClient.subscribe('/specific/scoreBoard/GetTeamInvestScores', function(result) {
            	   updateDataTable(JSON.parse(result.body));
               });
               
            });
           
          
            function GetTeamInvestScores() {
                var event_id = document.getElementById('event_id').value;
                stompClient.send("/app/scoreBoard/GetTeamInvestScores", {},
                  JSON.stringify({'event_id':event_id}));
            }

            function updateDataTable(root) {
            	console.log(root)
            	  var tableBody = document.querySelector("#teamInvestScoresTable tbody");
            	  tableBody.innerHTML = "";
            	  root.message.teamInvestScores.forEach(function(score) {
            	    var row = tableBody.insertRow();
            	    row.insertCell(0).textContent = score.name;
            	    row.insertCell(1).textContent = score.value;
            	    row.insertCell(2).textContent = score.team_id;
            	    row.insertCell(3).textContent = score.team_event_id;
            	    row.insertCell(4).textContent = score.event_id;
            	  });
            	}

            
        </script>
</head>
<body>
<div>
    
    <div>
        <button id="GetTeamInvestScores" onclick="GetTeamInvestScores();">Send</button>
        <input type="number" id="event_id" placeholder="Put Event Id"/>
    </div>
   
   
    <br />
    <br />
    <br />

        <div id="messages"></div>
        
        <table id="teamInvestScoresTable" border="1">
		  <thead>
		    <tr>
		      <th>Team Name</th>
		      <th>Total Amount</th>
		      <th>Team ID</th>
		      <th>Team Event ID</th>
		      <th>Event ID</th>
		    </tr>
		  </thead>
		  <tbody>
		    <!-- Table body will be populated dynamically -->
		  </tbody>
         </table>
        <p></p>

</div>

</body>
</html>