<html>
<head>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.6.1/sockjs.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
    <script type="text/javascript">
            var stompClient = null;
            var privateStompClient = null;
            var socket = new SockJS('/ws');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
               
               stompClient.subscribe('/specific/application/investToTeam', function(result) {
            	   show(JSON.parse(result.body));
               });
            });

            function investToTeam() {
                var team_id = document.getElementById('team_id').value;
                var judge_id = document.getElementById('judge_id').value;
                var event_id = document.getElementById('event_id').value;
                stompClient.send("/app/application/investToTeam", {},
                    JSON.stringify({
                        'team_id': team_id,
                        'judge_id': judge_id,
                        'event_id': event_id
                    }));
            }
            function show(root) {
            	console.log(root)
            	var response = document.getElementById('messages');
                
                var p = document.createElement('p');
                var messageText= "status: " + root.investStatus.success + "<br>";
                 messageText+= "status: " + root.investStatus.errors + "<br>";
                 messageText+= "Judge ID: " + root.judgeData.message.judge.id + "<br>";
                 messageText += "Member Name: " + root.judgeData.message.member.name + "<br>";

           
                root.judgeData.message.teamInvestScores.forEach(function(team) {
                    messageText += "Team ID: " + team.team_id + ", Name: " + team.name + ", Amount: " + team.amount + "<br>";
                });

                p.innerHTML = "Message:<br>" + messageText;
                response.appendChild(p);
            }
        </script>
</head>
<body>
  
<input type="number" id="team_id" placeholder="Team Id"><br>
<input type="number" id="event_id" placeholder="Event Id"><br>
<input type="number" id="judge_id" placeholder="Judge Id"><br>
<button onclick="investToTeam()">Send Message</button>

 <div id="messages"></div>

</body>
</html>